html {
  font-family: sans-serif;
}

div{
margin: auto;
text-align: center;
text-shadow: 1px 1px 1px rgb(0, 0, 0);

width: 250px;
height: 200px;
border: 1px solid rgb(163, 16, 16);
border-radius: 10px;

color: #ffffff;
background-color: rgba(249, 0, 0, 0.904);
  }



/* Your CSS below here */